@import 'utils/colors'
@import 'components/Navbar'
@import 'components/Footer'
@import 'components/Note'

body
  margin: 0
  padding: 0
  font-family: "Roboto", Arial, sans-serif
  font-size: 16px

@media screen and (min-width: 993px)
  main
    padding: 25px 100px
