<div id="editModal" class="modal">
    <div class="modal-content">
        <form action="">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Edit your note here:</label>
            </div>
            <div class="modal-footer">
                <a class="modal-action waves-effect waves-light btn green Button"><i class="material-icons left Button__icon">mode_edit</i>Yes</a>
                <a class="modal-action modal-close waves-effect waves-light btn blue Button"><i class="material-icons left Button__icon">call_received</i>No</a>
            </div>
    </form>
</div>
